/* PETS PAGE pets */
.pets__title {
    margin-bottom: -1px;
}

.pets-page-slider {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 40px;
}

.pagination {
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @extend %transition;
}

.pagination__btn {
    padding: 0;
    width: 52px;
    height: 52px;
    background-color: transparent;
    @include font (20px, 115%);
    text-align: center;
    letter-spacing: 0.06em;
    color: #292929;

    &[disabled] {
        border-color: $header-text-color;
        pointer-events: none;
    }
}

.pagination__btn_central:active {
    background-color: $main-color;
    border-color: $main-color;
}