/* PETS PAGE pets */
.pets__container {
    @include media-tablet {
        margin-bottom: -24px;
    }
    @include media-mobile-small {
        margin-bottom: 0;
    }
}

.pets-page-slider {
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(4, minmax(18%, 270px));
    gap: 28px 40px;

    @include media-tablet {
        grid-template-columns: repeat(2, minmax(35%, 270px));
        justify-content: center;
        justify-items: center;
    }
    @include media-mobile-small {
        grid-template-columns: auto;
    }

}
//no need with working js pagination (dynamic content generation according window size)
/* .pets-page-slider__item:nth-of-type(7),
.pets-page-slider__item:nth-of-type(8) {
    @include media-tablet {
        display: none;
    }
}
.pets-page-slider__item:nth-of-type(4),
.pets-page-slider__item:nth-of-type(5),
.pets-page-slider__item:nth-of-type(6) {
    @include media-mobile-small {
        display: none;
    }
} */


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @extend %transition;
    @include media-tablet {
        margin-top: 10px;
    }
    @include media-mobile-small {
        margin-top: 0;
        gap: 10px;
    }

}

.pets__container {
    @include media-tablet {
        gap: 30px;
    }
    @include media-mobile-small {
        gap: 43px;
    }
}
