/* FONTS */
@font-face {
  font-family: "Arial";
  font-weight: normal;
  font-style: normal;
  src: local(""), url("../../../shelter/assets/fonts/Arial.woff2") format("woff2"), url("../../../shelter/assets/fonts/Arial.woff") format("woff");
}
@font-face {
  font-family: "Georgia";
  font-weight: normal;
  font-style: normal;
  src: local(""), url("../../../shelter/assets/fonts/Georgia.woff2") format("woff2"), url("../../../shelter/assets/fonts/Georgia.woff") format("woff");
}
.footer__title, .pets__title {
  font-family: "Georgia";
  font-size: 35px;
  line-height: 130%;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #545454;
}

.nav {
  font-family: "Arial";
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.pagination, .pets-nav-hover, .burger-menu, .burger, .footer__item, .card, .btn, .nav__item {
  transition: all 0.3s ease-in-out;
}

.footer__title, .pets__title {
  font-family: "Georgia";
  font-size: 35px;
  line-height: 130%;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #545454;
}

.nav {
  font-family: "Arial";
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.pagination, .pets-nav-hover, .burger-menu, .burger, .footer__item, .card, .btn, .nav__item {
  transition: all 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Georgia", "Arial", sans-serif;
  scroll-behavior: smooth;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  /* display: inline-block; */
}

ul,
ol {
  list-style: none;
}

img,
svg {
  max-width: 100%;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 950px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* HEADER */
.header__container {
  display: flex;
  padding-top: 30px;
  padding-bottom: 90px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .header__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.logo__title {
  font-family: "Georgia";
  font-size: 32px;
  line-height: 110%;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-bottom: 10px;
}

.logo__subtitle {
  font-family: "Arial";
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  padding-left: 4px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.nav {
  display: flex;
  gap: 36px;
  color: #CDCDCD;
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.nav__item {
  border-bottom: 3px solid transparent;
  /* transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out; */
}
.nav__item:hover {
  color: #FAFAFA;
}
.nav__item:active {
  color: #FAFAFA;
  border-color: #F1CDB3;
}

.nav_is-active {
  color: #FAFAFA;
  border-color: #F1CDB3;
  cursor: not-allowed;
}

/* BUTTON */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  padding: 13px 43px;
  background: #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia";
  font-size: 17px;
  line-height: 130%;
  font-weight: 400;
  letter-spacing: 0.06em;
  border: 2px solid #F1CDB3;
  cursor: pointer;
  white-space: nowrap;
  /* transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out; */
}
.btn:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.pagination__btn {
  padding: 0;
  width: 52px;
  height: 52px;
  background-color: transparent;
  font-family: "Georgia";
  font-size: 20px;
  line-height: 115%;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #292929;
}
.pagination__btn[disabled] {
  border-color: #CDCDCD;
  pointer-events: none;
}

.pagination__btn_central {
  background-color: #F1CDB3;
  border-color: #F1CDB3;
  pointer-events: none;
}

/* .btn__arrow-back {
    position: absolute;
    top: 22px;
    left: 17px;
}

.btn__arrow-forward {
    position: absolute;
    top: 22px;
    right: 17px;
} */
.pagination__btn:disabled path {
  fill: #CDCDCD;
}

/* PETS */
.pets {
  background-color: #F6F6F6;
  padding-bottom: 100px;
  padding-top: 80px;
}
@media (max-width: 450px) {
  .pets {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.pets__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
@media (max-width: 450px) {
  .pets__container {
    gap: 42px;
  }
}

.pets__title {
  text-align: center;
  max-width: 400px;
}
@media (max-width: 450px) {
  .pets__title {
    font-size: 25px;
  }
}

/* .slider {
    display: flex;
    align-items: center;
    gap: 4.141vw;
    @include media-tablet {
        gap: 12px;
    }
    @include media-mobile-big {
        flex-direction: column;
    }
}

.slider__item:first-child, .slider__item:last-child  {
    @include media-mobile-big {
        order: 1;
    }
} */
.slider {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 4.141vw;
}
@media (max-width: 950px) {
  .slider {
    gap: 12px;
  }
}
@media (max-width: 767px) {
  .slider {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 20px;
  }
}

@media (max-width: 767px) {
  .slider__item:first-child, .slider__item:last-child {
    grid-row-start: 2;
  }
}

@media (max-width: 767px) {
  .slider__item:nth-child(2) {
    grid-area: 1/span 2/1/span 1;
  }
}

.carousel {
  position: relative;
  overflow: hidden;
}

@keyframes move-left-forward {
  to {
    right: 0;
  }
}
@keyframes move-left-active {
  to {
    right: 150%;
  }
}
@keyframes move-right-backward {
  to {
    left: 0;
  }
}
@keyframes move-right-active {
  to {
    right: -150%;
  }
}
.animation-move-left-forward {
  animation: move-left-forward 0.7s;
}

.animation-move-left-active {
  animation: move-left-active 0.7s;
}

.animation-move-right-backward {
  animation: move-right-backward 0.7s;
}

.animation-move-right-active {
  animation: move-right-active 0.7s;
}

.carousel__content {
  display: flex;
  align-items: center;
  gap: 7.031vw;
}
@media (max-width: 950px) {
  .carousel__content {
    gap: 40px;
  }
}

.carousel__content_active {
  position: relative;
  top: 0;
  right: 0;
}

.carousel__content_forward {
  position: absolute;
  top: 0;
  right: -150%;
}

.carousel__content_backward {
  position: absolute;
  top: 0;
  left: -150%;
}

@media (max-width: 950px) {
  .card-list__item_3 {
    display: none;
  }
}

@media (max-width: 450px) {
  .card-list__item_2 {
    display: none;
  }
}

.slider__btn {
  padding: 0;
  width: 52px;
  height: 52px;
  background-color: transparent;
}

.card {
  max-width: 270px;
  padding-bottom: 30px;
  border-radius: 9px;
  background-color: #FAFAFA;
  text-align: center;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.card:hover .card__btn {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.card__img {
  background-color: transparent;
  margin-bottom: 26px;
}

.card__subtitle {
  color: #545454;
  font-family: "Georgia";
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.card__btn {
  background-color: transparent;
}

/* FOOTER */
.footer {
  background: url("../../assets/img/footer-background.png") center, no-repeat;
  background-size: cover;
}
@media (max-width: 950px) {
  .footer {
    background: url("../../assets/img/footer-gradient-background-768.jpg") center, no-repeat;
    background-size: cover;
  }
}
@media (max-width: 450px) {
  .footer {
    background: url("../../assets/img/footer-gradient-background-320.jpg") center, no-repeat;
    background-size: cover;
  }
}

.footer__container {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  /* display: grid;
  grid-template-columns: 1fr 25% 25%;
  grid-template-rows: 90px 113px;
  grid-auto-flow: column;
  gap: 34px 12.500vw;
  justify-items: space-between; */
}
@media (max-width: 950px) {
  .footer__container {
    padding-top: 16px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px 60px;
  }
}
@media (max-width: 450px) {
  .footer__container {
    gap: 37px;
  }
}

.footer__contacts-wrapper {
  padding-top: 14px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.footer__contacts-wrapper .footer__nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 450px) {
  .footer__contacts-wrapper .footer__nav {
    align-items: center;
  }
}
@media (max-width: 450px) {
  .footer__contacts-wrapper {
    align-items: center;
    gap: 34px;
  }
}

.footer__locations-wrapper {
  max-width: 302px;
  padding-top: 14px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer__locations-wrapper .footer__nav {
  display: flex;
  flex-direction: column;
  gap: 33px;
}
@media (max-width: 450px) {
  .footer__locations-wrapper .footer__nav {
    gap: 36px;
  }
}
@media (max-width: 950px) {
  .footer__locations-wrapper {
    max-width: 302px;
  }
}
@media (max-width: 450px) {
  .footer__locations-wrapper {
    align-items: center;
    padding-top: 0;
    gap: 38px;
  }
}

.footer__title {
  color: #FFFFFF;
  width: 280px;
}
@media (max-width: 450px) {
  .footer__title {
    text-align: center;
    font-size: 25px;
  }
}

.footer__item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Georgia";
  font-size: 20px;
  line-height: 115%;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  border-bottom: 3px solid transparent;
  /* transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out; */
}
.footer__item_email {
  margin-top: 9px;
}
.footer__item:hover {
  color: #FAFAFA;
}
.footer__item:hover .footer__icon path {
  fill: #FAFAFA;
}

.footer__link {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.footer__icon {
  min-width: 22px;
}
.footer__icon path {
  transition: fill 0.3s ease-in-out;
}

@media (max-width: 450px) {
  .footer__img {
    max-width: 87%;
  }
}

/* BURGER */
.burger__line, .burger::after, .burger::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #F1CDB3;
}

.burger {
  display: none;
  position: relative;
  z-index: 11;
  width: 30px;
  height: 22px;
}
.burger::before {
  top: 0;
  left: 0;
}
.burger::after {
  bottom: 0;
  left: 0;
}
@media (max-width: 767px) {
  .burger {
    display: block;
  }
}
.burger.is-active {
  transform: rotate(-90deg);
}

.burger__line {
  top: calc(50% - 1px);
  left: 0;
}

.burger-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  right: -150%;
  width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-family: "Arial";
  font-size: 32px;
  line-height: 160%;
  font-weight: 400;
  color: #CDCDCD;
  background-color: #292929;
}
.burger-menu.is-active {
  right: 0;
}

.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
}

.modal {
  position: absolute;
  z-index: 10;
  width: 70%;
  padding: 5px 20px 5px 5px;
  display: flex;
  align-items: center;
  gap: 30px;
  background: #FAFAFA;
  border-radius: 9px;
}
@media (max-width: 950px) {
  .modal {
    padding-right: 10px;
    gap: 10px;
    width: 82%;
  }
}
@media (max-width: 767px) {
  .modal {
    justify-content: center;
    padding: 10px;
  }
}

.modal__img {
  flex: 1;
}
@media (max-width: 767px) {
  .modal__img {
    display: none;
  }
}

.modal__wrapper {
  max-width: 350px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 767px) {
  .modal__wrapper {
    align-items: center;
    gap: 20px;
  }
}

.modal__name {
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.modal__subtitle {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.modal__description {
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}
@media (max-width: 950px) {
  .modal__description {
    font-size: 13px;
  }
}

.modal__list {
  padding-left: 15px;
  list-style: disc;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}
.modal__list > * {
  margin-bottom: 10px;
}

.modal .btn {
  position: absolute;
  top: -47px;
  right: -47px;
}
.modal .btn:hover {
  transform: rotate(90deg);
}
@media (max-width: 767px) {
  .modal .btn {
    top: -55px;
    right: -25px;
  }
}

/* PETS HEADER */
.header__container {
  padding-bottom: 31px;
}

.logo__title {
  color: #545454;
}

.logo__subtitle {
  color: #292929;
}

.nav__item {
  color: #545454;
  /* transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out; */
}

.nav_is-active {
  color: #292929;
}

.pets-nav-hover {
  /* transition: border-color 0.2s ease-in-out; */
}
.pets-nav-hover:hover {
  color: #292929;
}
.pets-nav-hover:active {
  color: #545454;
  border-color: #F1CDB3;
}

/* PETS PAGE pets */
@media (max-width: 950px) {
  .pets__container {
    margin-bottom: -24px;
  }
}
@media (max-width: 450px) {
  .pets__container {
    margin-bottom: 0;
  }
}

.pets-page-slider {
  align-self: stretch;
  display: grid;
  grid-template-columns: repeat(4, minmax(18%, 270px));
  gap: 28px 40px;
}
@media (max-width: 950px) {
  .pets-page-slider {
    grid-template-columns: repeat(2, minmax(35%, 270px));
    justify-content: center;
    justify-items: center;
  }
}
@media (max-width: 450px) {
  .pets-page-slider {
    grid-template-columns: auto;
  }
}

/* .pets-page-slider__item:nth-of-type(7),
.pets-page-slider__item:nth-of-type(8) {
    @include media-tablet {
        display: none;
    }
}
.pets-page-slider__item:nth-of-type(4),
.pets-page-slider__item:nth-of-type(5),
.pets-page-slider__item:nth-of-type(6) {
    @include media-mobile-small {
        display: none;
    }
} */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 950px) {
  .pagination {
    margin-top: 10px;
  }
}
@media (max-width: 450px) {
  .pagination {
    margin-top: 0;
    gap: 10px;
  }
}

@media (max-width: 950px) {
  .pets__container {
    gap: 30px;
  }
}
@media (max-width: 450px) {
  .pets__container {
    gap: 43px;
  }
}

/* BURGER */
.burger__line, .burger::after, .burger::before {
  background-color: black;
}

.burger-menu {
  background-color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */