@import 'variables';

.about {
    padding-bottom: 102px;

    &__container {
        display: grid;
        grid-template-columns: 25% 36%;
        justify-content: center;
        gap: 120px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__title {
        padding-top: 16px;
        @include title
    }

    &__text {
        @include text;
        color: $text-color;
    }
}