/* ABOUT */
.about {
    padding-bottom: 102px;
}

.about__text {
    @extend %text;
    color: $text-color;
}

.about__title {
    @extend %title;
    padding-top: 15px;
}

.about__container {
    display: grid;
    grid-template-columns: 25% 36%;
    justify-content: center;
    gap: 121px;
}

.about__wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}