/* HERO */

.hero {
    background: url("../../../shelter/assets/img/start-screen-gradient-background.png") center no-repeat;
    background-size: cover;
    margin-top: -180px;
    margin-bottom: 80px;
}

.hero__container {
    display: grid;
    grid-template-columns: auto 58%;
    grid-template-rows: 180px 80%;
}

/* background-color: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20; */
/* background-image: url('/shelter/assets/img/start-screen-background.jpg');
    background-repeat: no-repeat;
    background-position: center; */
.hero__wrapper {
    padding-top: 163px;
    grid-area: 2/1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
}

.hero__title {
    max-width: 310px;
    @include font ($size: 44px, $height: 130%);
    color: $white;
}

.hero__subtitle {
    max-width: 460px;
    @include font ($size: 15px, $height: 160%, $family: $paragraph-font);
    color: $header-text-color;
}

.hero__img {
    grid-area: 2/2;
}