.pets-nav-hover {
    transition: border-color 0.2s ease-in-out;
    &:hover {
        color: $color-dark;
    }

    &:active {
        color: $title-color;
        border-color: $main-color;
    }
}

.main-nav-hover {
    transition: border-color 0.2s ease-in-out;
    &:hover {
        color: $card-color;
    }

    &:active {
        color: $card-color;
        border-color: $main-color;
    }
}

.pagination {
    &__btn[disabled] {
        border-color: $header-text-color;
        pointer-events: none;
    }
}

.card {
    transition: box-shadow 0.3s ease-in-out;
    &__interactive:hover {
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        .card__btn {
            background-color: $btn-hovered-color;
            border-color: $btn-hovered-color;
        }
    }

}

.btn:hover {
    background-color: $btn-hovered-color;
    border-color: $btn-hovered-color;
}

.donation__link:hover {
    background-color: $btn-hovered-color;
}

.pagination {
    transition: border-color 0.2s ease-in-out;
    &__btn_central:active {
        background-color: $main-color;
        border-color: $main-color;
    }
}

.footer {
    &__item:hover {
        & .footer__icon path {
            fill: $card-color;
        }
    }
}