@import 'variables';

.pets {
    background-color: $main-background;
    padding-bottom: 100px;
    padding-top: 80px;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    &__title {
        text-align: center;
        max-width: 400px;
        @include title
    }

}

.slider {
    display: flex;
    align-items: center;
    gap: 53px;

    &__content {
        display: flex;
        align-items: center;
        gap: 90px;
    }

    &__btn {
        padding: 0;
        width: 52px;
        height: 52px;
        background-color: transparent;
    }

}

.card {
    min-width: 270px;
    padding-bottom: 30px;
    border-radius: 9px;
    background-color: $card-color;
    text-align: center;
    cursor: pointer;

    &__img {
        background-color: transparent;
        margin-bottom: 26px;
    }

    &__subtitle {
        color: $title-color;
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.06em;
        margin-bottom: 30px;
    }

    &__btn {
        background-color: transparent;
    }
}