$max-width: 1280px;
$container-padding: 40px;
$main-font: 'Georgia';
$paragraph-font: 'Arial';
$main-color: #F1CDB3;
$header-text-color: #CDCDCD;
$white: #FFFFFF;
$btn-color: #F1CDB3;
$title-color: #545454;
$card-color: #FAFAFA;

@mixin text {
    font-family: $paragraph-font;
    font-size: 15px;
    line-height: 24px;
}

@mixin title {
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $title-color;
}