/* FONTS */
@font-face {
  font-family: "Arial";
  font-weight: normal;
  font-style: normal;
  src: local(""), url("../../../shelter/assets/fonts/Arial.woff2") format("woff2"), url("../../../shelter/assets/fonts/Arial.woff") format("woff");
}
@font-face {
  font-family: "Georgia";
  font-weight: normal;
  font-style: normal;
  src: local(""), url("../../../shelter/assets/fonts/Georgia.woff2") format("woff2"), url("../../../shelter/assets/fonts/Georgia.woff") format("woff");
}
.footer__title, .donation__title, .help__title, .pets__title, .about__title {
  font-family: "Georgia";
  font-size: 35px;
  line-height: 130%;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #545454;
}

.about__text, .nav {
  font-family: "Arial";
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.footer__item, .donation__link, .card, .btn, .nav__item {
  transition: all 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Georgia", "Arial", sans-serif;
  scroll-behavior: smooth;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  /* display: inline-block; */
}

ul,
ol {
  list-style: none;
}

img,
svg {
  max-width: 100%;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}

/* HEADER */
.header__container {
  display: flex;
  padding-top: 30px;
  padding-bottom: 90px;
  justify-content: space-between;
  align-items: center;
}

.logo__title {
  font-family: "Georgia";
  font-size: 32px;
  line-height: 110%;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-bottom: 10px;
}

.logo__subtitle {
  font-family: "Arial";
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  padding-left: 4px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.nav {
  display: flex;
  gap: 36px;
  color: #CDCDCD;
}

.nav__item {
  border-bottom: 3px solid transparent;
  /* transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out; */
}
.nav__item:hover {
  color: #FAFAFA;
}
.nav__item:active {
  color: #FAFAFA;
  border-color: #F1CDB3;
}

.nav__is-active {
  color: #FAFAFA;
  border-color: #F1CDB3;
  pointer-events: none;
}

/* HERO */
.hero {
  background: url("../../../shelter/assets/img/start-screen-gradient-background.png") center no-repeat;
  background-size: cover;
  margin-top: -180px;
  margin-bottom: 80px;
}

.hero__container {
  display: grid;
  grid-template-columns: auto 58%;
  grid-template-rows: 180px 80%;
}

/* background-color: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20; */
/* background-image: url('/shelter/assets/img/start-screen-background.jpg');
    background-repeat: no-repeat;
    background-position: center; */
.hero__wrapper {
  padding-top: 163px;
  grid-area: 2/1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 42px;
}

.hero__title {
  max-width: 310px;
  font-family: "Georgia";
  font-size: 44px;
  line-height: 130%;
  font-weight: 400;
  color: #FFFFFF;
}

.hero__subtitle {
  max-width: 460px;
  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;
  font-weight: 400;
  color: #CDCDCD;
}

.hero__img {
  grid-area: 2/2;
}

/* BUTTON */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  padding: 13px 43px;
  background: #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia";
  font-size: 17px;
  line-height: 130%;
  font-weight: 400;
  letter-spacing: 0.06em;
  border: 2px solid #F1CDB3;
  cursor: pointer;
  /* transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out; */
}
.btn:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.pagination__btn {
  padding: 0;
  width: 52px;
  height: 52px;
  background-color: transparent;
  font-family: "Georgia";
  font-size: 20px;
  line-height: 115%;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #292929;
}
.pagination__btn[disabled] {
  border-color: #CDCDCD;
  pointer-events: none;
}

.pagination__btn_central:active {
  background-color: #F1CDB3;
  border-color: #F1CDB3;
}

/* .btn__arrow-back {
    position: absolute;
    top: 22px;
    left: 17px;
}

.btn__arrow-forward {
    position: absolute;
    top: 22px;
    right: 17px;
} */
/* ABOUT */
.about {
  padding-bottom: 102px;
}

.about__text {
  color: #4C4C4C;
}

.about__title {
  padding-top: 15px;
}

.about__container {
  display: grid;
  grid-template-columns: 25% 36%;
  justify-content: center;
  gap: 121px;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* PETS */
.pets {
  background-color: #F6F6F6;
  padding-bottom: 100px;
  padding-top: 80px;
}

.pets__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 59px;
}

.pets__title {
  text-align: center;
  max-width: 400px;
}

.slider {
  display: flex;
  align-items: center;
  gap: 53px;
}

.slider__content {
  display: flex;
  align-items: center;
  gap: 90px;
}

.slider__btn {
  padding: 0;
  width: 52px;
  height: 52px;
  background-color: transparent;
}

.card {
  min-width: 270px;
  padding-bottom: 30px;
  border-radius: 9px;
  background-color: #FAFAFA;
  text-align: center;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.card:hover .card__btn {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.card__img {
  background-color: transparent;
  margin-bottom: 26px;
}

.card__subtitle {
  color: #545454;
  font-family: "Georgia";
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.card__btn {
  background-color: transparent;
}

/* HELP */
.help {
  padding-top: 80px;
  padding-bottom: 100px;
}

.help__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 59px;
  text-align: center;
}

.help__title {
  max-width: 310px;
}

.help-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 55px 120px;
}

.help-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.help-list__icon {
  display: block;
  width: 60px;
  height: 60px;
}
.help-list__icon_pet-food {
  background: url(../../../shelter/assets/icons/pet-food.svg) no-repeat center;
}
.help-list__icon_transportation {
  background: url(../../../shelter/assets/icons/transportation.svg) no-repeat center;
}
.help-list__icon_toys {
  background: url(../../../shelter/assets/icons/toys.svg) no-repeat center;
}
.help-list__icon_bowls-and-cups {
  background: url(../../../shelter/assets/icons/bowls-and-cups.svg) no-repeat center;
}
.help-list__icon_shampoos {
  background: url(../../../shelter/assets/icons/shampoos.svg) no-repeat center;
}
.help-list__icon_vitamins {
  background: url(../../../shelter/assets/icons/vitamins.svg) no-repeat center;
}
.help-list__icon_medicines {
  background: url(../../../shelter/assets/icons/medicines.svg) no-repeat center;
}
.help-list__icon_collars {
  background: url(../../../shelter/assets/icons/collars-or-leashes.svg) no-repeat center;
}
.help-list__icon_sleeping-areas {
  background: url(../../../shelter/assets/icons/sleeping-area.svg) no-repeat center;
}

.help-list__subtitle {
  font-family: "Georgia";
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #545454;
}

/* DONATION */
.donation {
  background-color: #F6F6F6;
  padding-top: 80px;
  padding-bottom: 100px;
}

.donation__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.donation__wraper {
  max-width: 380px;
}

.donation__title {
  max-width: 300px;
  margin-bottom: 20px;
  color: #545454;
}

.donation__text {
  margin-bottom: 20px;
  font-family: "Georgia";
  font-size: 15px;
  line-height: 110%;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation__link {
  /* position: relative; */
  display: inline-flex;
  gap: 15px;
  padding: 10px 15px 10px 15px;
  text-align: center;
  margin-bottom: 20px;
  background-color: #F1CDB3;
  font-family: "Georgia";
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #545454;
  border-radius: 9px;
  /* transition: background-color 0.3s ease-in-out; */
}
.donation__link:hover {
  background-color: #FDDCC4;
}

.donation__icon {
  /* position: absolute;
  left: 15px; */
  background: url(../../../shelter/assets/icons/credit-card.svg) no-repeat center;
  background-size: contain;
  width: 30px;
  height: 23px;
}

.donation__legal-text {
  font-family: "Arial";
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
  font-style: italic;
  color: #B2B2B2;
}

/* FOOTER */
.footer {
  background: url("../../../shelter/assets/img/footer-background.png") center, no-repeat;
  background-size: cover;
}

.footer__container {
  padding-top: 56px;
  padding-bottom: 56px;
  display: grid;
  grid-template-columns: 278px 302px 25%;
  grid-template-rows: 90px 113px;
  grid-auto-flow: column;
  gap: 34px 160px;
  justify-content: space-between;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__title {
  color: #FFFFFF;
  width: 280px;
}

.footer__item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Georgia";
  font-size: 20px;
  line-height: 115%;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  border-bottom: 3px solid transparent;
  /* transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out; */
}
.footer__item_email {
  margin-top: 9px;
}
.footer__item:hover {
  color: #FAFAFA;
}
.footer__item:hover .footer__icon path {
  fill: #FAFAFA;
}

.footer__link {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.footer__icon {
  min-width: 22px;
}
.footer__icon path {
  transition: fill 0.3s ease-in-out;
}

.footer__img {
  margin-top: -17px;
  grid-area: 1/3;
}/*# sourceMappingURL=style.css.map */