@font-face {
  font-family: "Arial";
  font-weight: normal;
  font-style: normal;
  src: local(""), url("/shelter/assets/fonts/Arial.woff2") format("woff2"), url("/shelter/assets/fonts/Arial.woff") format("woff");
}
@font-face {
  font-family: "Georgia";
  font-weight: normal;
  font-style: normal;
  src: local(""), url("/shelter/assets/fonts/Georgia.woff2") format("woff2"), url("/shelter/assets/fonts/Georgia.woff") format("woff");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Georgia", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

img,
svg {
  max-width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 90px;
}

.nav {
  display: flex;
  gap: 35px;
}

.logo__title {
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-bottom: 10px;
}
.logo__subtitle {
  font-family: "Arial";
  padding-left: 4px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.nav {
  font-family: "Arial";
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
}
.nav__item {
  border-bottom: 3px solid transparent;
}

.hero {
  margin-top: -180px;
  display: grid;
  grid-template-columns: auto 58%;
  grid-template-rows: 180px 80%;
  margin-bottom: 80px;
  background: url("/shelter/assets/img/start-screen-background.jpg") center, no-repeat;
  background-color: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
.hero__wraper {
  margin-top: 133px;
  grid-area: 2/1;
}
.hero__title {
  margin-bottom: 42px;
  max-width: 310px;
  font-size: 44px;
  font-weight: 400;
  line-height: 130%;
  color: #FFFFFF;
}
.hero__subtitle {
  margin-bottom: 42px;
  max-width: 460px;
  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}
.hero__img {
  grid-area: 2/2;
}

.btn {
  position: relative;
  padding: 13px 43px;
  background: #F1CDB3;
  border-radius: 100px;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  border: 2px solid #F1CDB3;
}
.btn__arrow-back {
  position: absolute;
  top: 22px;
  left: 17px;
}
.btn__arrow-forward {
  position: absolute;
  top: 22px;
  right: 17px;
}

.about {
  padding-bottom: 102px;
  display: grid;
  grid-template-columns: 25% 36%;
  justify-content: center;
  gap: 120px;
}
.about__wraper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about__title {
  padding-top: 16px;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.about__text {
  font-family: "Arial";
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
}

.pets {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding-bottom: 100px;
  /*     display: grid;
  grid-template:
  [row1-start] ". title title title ." 200px [row1-end]
  [row2-start] "prev-btn first-card second-card third-card next-btn" 30.8% [row2-end]
  [row3-start] ". . btn . ." 200px [row3-end]
      / auto repeat(3, 22.5%) auto;
  gap: 60px;
  background-color: #F6F6F6;
  &__title {
      grid-area: title;
  }
  &__btn_prev {
      grid-area: prev-btn;
  }
  &__btn_next {
      grid-area: next-btn;
  }
  &__btn {
      grid-area: btn;
  } */
}
.pets__title {
  margin-top: 80px;
  margin-bottom: 59px;
  text-align: center;
  max-width: 400px;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.pets__slider {
  margin-bottom: 60px;
}

.slider {
  /*     display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;

  &__item_1 {
      grid-area: first-card;
  }
  &__item_2 {
      grid-area: second-card;
  }
  &__item_3 {
      grid-area: third-card;
  } */
  display: flex;
  align-items: center;
  gap: 90px;
}
.slider__btn_prev {
  padding: 0;
  width: 52px;
  height: 52px;
  background-color: transparent;
  margin-right: -37px;
}
.slider__btn_next {
  margin-left: -37px;
  padding: 0;
  width: 52px;
  height: 52px;
  background-color: transparent;
}

.card {
  min-width: 270px;
  padding-bottom: 30px;
  border-radius: 9px;
  background-color: #FAFAFA;
  text-align: center;
}
.card__img {
  background-color: transparent;
  margin-bottom: 19px;
}
.card__subtitle {
  color: #545454;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
.card__btn {
  background-color: transparent;
}

.help {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 59px;
}
.help__container {
  padding-left: 127px;
  padding-right: 127px;
}
.help__title {
  margin-top: 80px;
  width: 310px;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.help-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 45px;
}
.help-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 55px;
}
.help-list__item:not(:nth-child(5)) {
  margin-right: 119px;
}
.help-list__item:last-child {
  margin-right: 0;
}
.help-list__icon {
  display: block;
  width: 60px;
  height: 60px;
}
.help-list__icon_pet-food {
  background: url(/shelter/assets/icons/pet-food.svg) no-repeat center;
}
.help-list__icon_transportation {
  background: url(/shelter/assets/icons/transportation.svg) no-repeat center;
}
.help-list__icon_toys {
  background: url(/shelter/assets/icons/toys.svg) no-repeat center;
}
.help-list__icon_bowls-and-cups {
  background: url(/shelter/assets/icons/bowls-and-cups.svg) no-repeat center;
}
.help-list__icon_shampoos {
  background: url(/shelter/assets/icons/shampoos.svg) no-repeat center;
}
.help-list__icon_vitamins {
  background: url(/shelter/assets/icons/vitamins.svg) no-repeat center;
}
.help-list__icon_medicines {
  background: url(/shelter/assets/icons/medicines.svg) no-repeat center;
}
.help-list__icon_collars {
  background: url(/shelter/assets/icons/collars-or-leashes.svg) no-repeat center;
}
.help-list__icon_sleeping-areas {
  background: url(/shelter/assets/icons/sleeping-area.svg) no-repeat center;
}
.help-list__subtitle {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #F6F6F6;
}
.donation__wraper {
  max-width: 380px;
}
.donation__title {
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 300px;
  margin-bottom: 20px;
  color: #545454;
}
.donation__text {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation__link {
  position: relative;
  padding: 10px 15px 10px 60px;
  text-align: center;
  margin-bottom: 20px;
  background-color: #F1CDB3;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  border-radius: 9px;
}
.donation__icon {
  display: inline-block;
  position: absolute;
  left: 15px;
  background: url(/shelter/assets/icons/credit-card.svg) no-repeat center;
  background-size: contain;
  width: 30px;
  height: 23px;
}
.donation__legal-text {
  font-family: "Arial";
  font-style: italic;
  font-size: 12px;
  line-height: 150%;
  color: #B2B2B2;
}

.footer {
  padding-top: 56px;
  padding-bottom: 64px;
  /*     display: flex;
      gap: 160px; */
  display: grid;
  grid-template-columns: 278px 302px 25%;
  grid-template-rows: 90px 110px;
  grid-auto-flow: column;
  gap: 34px 160px;
  justify-content: space-between;
  background: url("/shelter/assets/img/footer-background.png") center, no-repeat;
  background-color: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.footer__title {
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  color: #FFFFFF;
  width: 280px;
}
.footer__item {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__item_email {
  margin-top: 9px;
}
.footer__icon {
  min-width: 22px;
}
.footer__img {
  margin-top: -17px;
  grid-area: 1/3;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */